{
  "logging": {
    "version": 1,
    "loggers": {
      "clare": {
        "level": "DEBUG",
        "handlers": ["stream", "file"]
      }
    },
    "formatters": {
      "simple": {
        "format": "%(asctime)s.%(msecs)03d [%(levelname)s] %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      },
      "json": {
        "format": "{\"timestamp\": \"%(asctime)s.%(msecs)03d\", \"severity_level\": \"%(levelname)s\", \"message\": %(message)s}",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      }
    },
    "handlers": {
      "stream": {
        "class": "logging.StreamHandler",
        "level": "DEBUG",
        "formatter": "json"
      },
      "file": {
        "class": "logging.handlers.TimedRotatingFileHandler",
        "level": "DEBUG",
        "filename": "/var/log/clare/clare_application.log",
        "when": "midnight",
        "encoding": "utf-8",
        "formatter": "json"
      }
    }
  },
  "common": {
    "time_zone": {
      "name": "UTC"
    }
  },
  "room_list_watcher": {
    "scraper": {
      "wait_context": {
        "timeout": 5.0
      },
      "wait_time": 3.0,
      "logger": {
        "name": "clare"
      },
      "url": "http://play.pokemonshowdown.com/"
    },
    "filter": {
      "maximum_duration": 60.0
    },
    "queue": {
      "name": "room_list_watcher.room_created"
    }
  },
  "download_bot": {
    "factory": {
      "root_directory_path": "/home/ubuntu/Downloads/"
    },
    "replay_downloader": {
      "wait_context": {
        "timeout": 5.0
      },
      "policy": {
        "stop_strategy": {
          "maximum_duration": 3600.0
        },
        "wait_strategy": {
          "wait_time": 180.0
        }
      }
    },
    "download_validator": {
      "policy": {
        "stop_strategy": {
          "maximum_duration": 3.0
        },
        "wait_strategy": {
          "wait_time": 1.0
        }
      }
    },
    "handler": {
      "logger": {
        "name": "clare"
      }
    },
    "validator": {
      "wait_context": {
        "timeout": 5.0
      }
    }
  }
}
