{
  "logging": {
    "version": 1,
    "loggers": {
      "clare": {
        "level": "DEBUG",
        "handlers": ["stream", "file"]
      }
    },
    "formatters": {
      "simple": {
        "format": "%(asctime)s.%(msecs)03d [%(levelname)s] %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      },
      "json": {
        "format": "{\"timestamp\": \"%(asctime)s.%(msecs)03d\", \"severity_level\": \"%(levelname)s\", \"message\": %(message)s}",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      }
    },
    "handlers": {
      "stream": {
        "class": "logging.StreamHandler",
        "level": "INFO",
        "formatter": "json"
      },
      "file": {
        "class": "logging.handlers.TimedRotatingFileHandler",
        "level": "DEBUG",
        "filename": "/var/log/clare/clare_application.log",
        "when": "midnight",
        "encoding": "utf-8",
        "formatter": "json"
      }
    }
  },
  "room_list_watcher": {
    "time_zone": {
      "name": "UTC"
    },
    "queue": {
      "name": "room_list_watcher.room_found"
    },
    "scraper": {
      "url": "http://play.pokemonshowdown.com/",
      "logger": {
        "name": "clare"
      },
      "retry_policy": {
        "stop_strategy": {
          "maximum_attempt": 5
        },
        "wait_strategy": {
          "wait_time": 5.0
        },
        "messaging_broker": {
          "logger": {
            "name": "clare"
          }
        }
      },
      "validator": {
        "wait_context": {
          "timeout": 1.0
        }
      },
      "wait_context": {
        "timeout": 5.0
      }
    },
    "sender": {
      "logger": {
        "name": "clare"
      }
    },
    "filter": {
      "flush_strategy": {
        "duration": 60.0
      }
    },
    "logger": {
      "name": "clare"
    },
    "interval": 0.1
  },
  "download_bot": {
    "time_zone": {
      "name": "UTC"
    },
    "factory": {
      "root_directory_path": "/home/ubuntu/Downloads/"
    },
    "replay_downloader": {
      "retry_policy": {
        "stop_strategy": {
          "maximum_duration": 3600.0
        },
        "wait_strategy": {
          "wait_time": 60.0
        },
        "messaging_broker": {
          "logger": {
            "name": "clare"
          }
        }
      },
      "validator": {
        "wait_context": {
          "timeout": 5.0
        }
      },
      "wait_context": {
        "timeout": 5.0
      }
    },
    "download_validator": {
      "retry_policy": {
        "stop_strategy": {
          "maximum_duration": 3.0
        },
        "wait_strategy": {
          "wait_time": 1.0
        },
        "messaging_broker": {
          "logger": {
            "name": "clare"
          }
        }
      }
    },
    "logger": {
      "name": "clare"
    },
    "root_url": "http://play.pokemonshowdown.com/",
    "fetcher": {
      "logger": {
        "name": "clare"
      },
      "message_count": {
        "maximum": 500
      },
      "wait_time": {
        "maximum": 1.0
      }
    },
    "handler": {
      "logger": {
        "name": "clare"
      }
    },
    "filters": [
      {
        "class_path": "clare.application.download_bot.filters.EveryNFilter",
        "n": 150
      }
    ],
    "interval": 0.1,
    "timeout": 1.0
  },
  "logger": {
    "name": "clare"
  }
}
