{
  "time_zone": {
    "name": "UTC"
  },
  "queues": {
    "produce_to": {
      "administrator.profile.name": "sqs.administrator",
      "profile.name": "sqs.producer",
      "name": "ue1_production_roomlistwatcher_roomfound.fifo",
      "message.delay.seconds": 0,
      "message.maximum.bytes": 65536,
      "message.retention.seconds": 1209600,
      "message.visibility.timeout.seconds": 3600
    }
  },
  "scraper": {
    "url": "http://play.pokemonshowdown.com/",
    "event":  {
      "name": "SCRAPE"
    },
    "browser": {
        "is_headless": true
    },
    "disposer": {
      "generator": {
        "file_path": "/var/opt/roomlistwatcher/log/screenshot.png"
      }
    },
    "logger": {
      "name": "roomlistwatcher"
    },
    "retry_policy": {
      "stop_strategy": {
        "maximum_attempt": 5
      },
      "wait_strategy": {
        "wait_time": 5.0
      },
      "messaging_broker": {
        "logger": {
          "name": "roomlistwatcher"
        }
      }
    },
    "validator": {
      "wait_context": {
        "timeout": 1.0
      }
    },
    "wait_context": {
      "timeout": 5.0
    }
  },
  "producer": {
    "logger": {
      "name": "roomlistwatcher"
    },
    "policy": {
      "stop_strategy": {
        "maximum_attempt": 3
      },
      "wait_strategy": {
        "wait_time": 5.0
      },
      "messaging_broker": {
        "logger": {
          "name": "roomlistwatcher"
        },
        "event":  {
          "name": "PRODUCE"
        }
      }
    },
    "interval": 0.1
  },
  "sender": {
    "logger": {
      "name": "roomlistwatcher"
    }
  },
  "filter": {
    "flush_strategy": {
      "duration": 60.0
    },
    "logger": {
      "name": "roomlistwatcher"
    }
  },
  "logging": {
    "version": 1,
    "loggers": {
      "roomlistwatcher": {
        "level": "DEBUG",
        "handlers": ["stream", "file"]
      }
    },
    "formatters": {
      "simple": {
        "format": "%(asctime)s.%(msecs)03d [%(levelname)s] %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      },
      "json": {
        "format": "{\"timestamp\": \"%(asctime)s.%(msecs)03d\", \"severity_level\": \"%(levelname)s\", \"message\": %(message)s}",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      }
    },
    "handlers": {
      "stream": {
        "class": "logging.StreamHandler",
        "level": "INFO",
        "formatter": "json"
      },
      "file": {
        "class": "logging.handlers.TimedRotatingFileHandler",
        "level": "DEBUG",
        "filename": "/var/opt/roomlistwatcher/log/application.log",
        "when": "midnight",
        "encoding": "utf-8",
        "formatter": "json"
      }
    }
  }
}
